<div>
  <h1>Welcome to the weather getter</h1>

  <%= form_tag("/forecasts", method: :post) do %>
    <%= label_tag("Postal Code") %>
    <%= text_field_tag("postal_code") %>
    <%= submit_tag %>
  <% end %>

  <% if @forecast %>
    <div>
      <h1>Weather Forecast</h1>

      <div>
        <h2>Current Temperature</h2>
        <p><%= @forecast.current_temp %></p>
      </div>
    </div>
  <% end %>
</div>
